html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #848789;
    padding: 0;
    margin: auto;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #353738;
    font-size: 18px;
    letter-spacing: 0.2em;
}

.page-header {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 300px;
}

.page-header__logotype {
    width: 50px;
}

.main-nav {
    display: flex;
    width: 100%;
    min-height: 50px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: #4c5a6f;
    padding: 5px;
    z-index: 1000;
}

.main-nav__logo {
    width: 50px;
    height: 45px;
}

.nav-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    font-size: 0;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.nav-button--open {
    background-image: url("../images/hamburger-menu-button.png");
}

.nav-button--close {
    background-image: url("../images/close-menu-button.png");
}

.nav-menu {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    transform: translate(0);
    z-index: 900;
}

.nav-menu__container {
    margin: 0;
    height: calc(100vh - 60px);
    justify-content: center;
    padding: 0;
}

.nav-menu--hidden {
    transform: translate(-100%);
}

.nav-menu--transition {
    transition-duration: 0.5s;
}

.nav-menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.2em;
    width: 100%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.8);
}

.nav-menu__item > a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    padding: 20px;
    text-decoration: none;
    color: #4d4959;
}

.nav-menu__item > a:hover {
    color: #64c29e;
    background-color: rgba(236, 238, 244, 0.8);
}

.nav-menu__item > a:active {
    color: #275e4f;
}

.item--nav-logo {
    display: none;
}

.promo-block--top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 20px 20px;
}

.promo-block__title--spinner-icon {
    margin-top: 70px;
    position: relative;
}

.promo-block__title--spinner-icon::before {
    content: "";
    position: absolute;
    width: 52px;
    height: 43px;
    left: 45%;
    top: -70px;
    background-image: url('../images/index_sprite.png');
    background-repeat: no-repeat;
    background-position: -10px -10px;
}

.promo-block--advantages {
    display: flex;
    flex-direction: column;
}

.promo-block__container-large,
.promo-block__container-small,
.promo-block__small-image {
    width: 100%;
    background: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo-block__container-large {
    min-height: 300px;
}

.container-large--first {
    background-image: url("../images/bike1.jpg");
}

.container-large--second {
    background-image: url("../images/bike4.jpg");
}

.promo-block__container-small {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-small--third {
    background-image: url("../images/bike5.jpg");
}

.container-small--fifth {
    background-image: url("../images/bike7.jpg");
}

.promo-block__container-content {
    min-height: 200px;
    padding: 30px 20px;
    z-index: 3;
    position: relative;
}

.promo-block__container-content::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    position: absolute;
    transform: rotate(45deg);
    left: 0;
    right: 0;
    margin: auto;
    bottom: -6px;
    z-index: 20;
}

.promo-block__small-image {
    width: 100%;
    min-height: 200px;
}

.small-image--first {
    background-image: url("../images/bike2.jpg");
}

.small-image--second {
    background-image: url("../images/bike3.jpg");
}

.small-image--third {
    background-image: url("../images/bike6.jpg");
}

.promo-block__title {
    margin-bottom: 0;
    text-align: center;
    line-height: 1em;
}

.title--compass-icon,
.title--helm,
.title--fish-icon {
    position: relative;
    margin-top: 55px;
}

.title--fish-icon::before,
.title--compass-icon::before,
.title--helm::before {
    content: "";
    position: absolute;
    background-image: url(../images/index_sprite.png);
    background-repeat: no-repeat;
    left: 45%;
    top: -60px;
}

.title--fish-icon::before {
    width: 41px;
    height: 30px;
    background-position: -82px -10px;
}

.title--compass-icon::before {
    width: 32px;
    height: 32px;
    background-position: -143px -10px;
}

.title--helm::before {
    left: 45%;
    top: -65px;
    width: 23px;
    height: 41px;
    background-position: -195px -10px;
}

.promo-block--top .promo-block__title::before {
    width: 52px;
    height: 43px;
    left: 45%;
    top: -70px;
    background-image: url('../images/index_sprite.png');
    background-repeat: no-repeat;
    background-position: -10px -10px;
}

.promo-block__text {
    font-weight: lighter;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
    margin-top: 1em;
    position: relative;
}

.promo-block--top .promo-block__text {
    line-height: 34px;
    font-size: 18px;
    margin-top: 1.2em;
    text-align: center;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f7f7f7;
    min-height: 470px;
    padding: 10px;
    position: relative;
}

.review-block {
    position: relative;
    padding-top: 27px;
}

.review-block a {
    display: block;
    font-size: 0;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: -25px;
    width: 32px;
    height: 27px;
    background-image: url('../images/index_sprite.png');
    background-repeat: no-repeat;
    background-position: -435px -10px;
}

.review-block__username {
    font-weight: bold;
    font-style: normal;
    color: #353738;
    letter-spacing: 0.1em;
}

.review-block__time {
    color: #848789;
    font-weight: lighter;
    margin-left: 1em;
}

.review-block blockquote {
    font-style: italic;
    font-weight: lighter;
    font-size: 24px;
    max-width: 1040px;
    margin-top: 0.5em;
}

.slider-toggles__container {
    display: inline-block;
    font-size: 0;
    padding: 0;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
}

.slider-toggle {
    display: inline-block;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #a9afb3;
    cursor: pointer;
    margin-right: 10px;
    padding: 0;
}

.toggle--active {
    background-color: #a9afb3;
}

.slider-toggle:last-child {
    margin-right: 0;
}

.shop__container--main {
    display: flex;
    flex-wrap: wrap;
    min-height: 535px;
}

.shop__items-container {
    width: 100%;
    min-height: 535px;
}

.shop__items-container-center {
    display: flex;
    flex-direction: row;
}

.shop__items-container-center .image__container {
    display: flex;
    width: 50%;
}

.shop__items-container--single {
    display: flex;
    height: 50%;
}

.shop__items-container--single .image__container {
    width: 100%;
}

.shop__items-container--double {
    display: flex;
    height: 50%;
}

.shop__items-container--double .image__container {
    width: 50%;
}

.image__container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.image__container--1 {
    background-image: url('../images/bike8.jpg');
}

.image__container--2 {
    background-image: url('../images/bike9.jpg');
}

.image__container--3 {
    background-image: url('../images/bike10.jpg');
}

.image__container--4 {
    background-image: url('../images/bike11.jpg');
}

.image__container--5 {
    background-image: url('../images/bike12.jpg');
}

.image__container--6 {
    background-image: url('../images/bike13.jpg');
}

.image__container--7 {
    background-image: url('../images/bike14.jpg');
}

.image__container--8 {
    background-image: url('../images/bike15.jpg');
}

.image__container:hover > .image-mask {
    transform: translateX(100%);
}

.image-mask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #58a589;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
    padding: 0;
    opacity: 0.8;
    text-decoration: none;
}

.bicycle-icon__container {
    width: 51px;
    height: 30px;
    background-image: url('../images/index_sprite.png');
    background-repeat: no-repeat;
    background-position: -10px -97px;
    opacity: 1;
}

.image-mask__title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;
    padding: 0;
    margin: 0;
    opacity: 1;
}

.shop-button__container {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #282f35;
    min-height: 200px;
}

.shop-button {
    display: inline-block;
    width: 300px;
    height: 50px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.2em;
    border: 1px solid #ffffff;
    padding-top: 8px;
}

.shop-button:hover {
    background-color: #ffffff;
    color: #282f35;
}

.shop-button:active {
    color: #73888e;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 470px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.feedback__logo {
    width: 94px;
    height: 85px;
}

.feedback__title {
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    color: #848789;
    margin-bottom: 30px;
}

.feedback__form-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
}

.feedback input[type="email"] {
    width: 100%;
    height: 70px;
    padding: 25px;
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
    color: #848789;
    margin-right: 8px;
    margin-bottom: 8px;
}

.feedback input[type="submit"] {
    width: 50%;
    height: 70px;
    background-color: #64c29e;
    border: none;
    font-weight: lighter;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.feedback input[type="submit"]:hover {
    background-color: #509e80;
}

.feedback input[type="submit"]:active {
    color: #bbd0d6;
}

.page_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    background-color: #f7f7f7;
    flex-wrap: wrap-reverse;
    padding: 20px;
}

.contacts {
    width: 100%;
    text-align: center;
}

.contacts__content {
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
}

.contacts__content--name {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
}

.social-links {
    display: flex;
    min-width: 100%;
    justify-content: center;
}

.social-links__item {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 13px;
    text-align: center;
}

.social-links__item:last-child {
    margin-right: 0;
}

.social-links__item:active {
    opacity: 0.5;
}

.social-links__item--twitter {
    background-color: #78cdf0;
}

.social-links__item--twitter:hover {
    background-color: #3eb8eb;
}

.social-links__item--facebook {
    background-color: #537bbd;
}

.social-links__item--facebook:hover {
    background-color: #2f64bc;
}

.social-links__item--pinterest {
    background-color: #eb5755;
    margin-right: 0;
}

.social-links__item--pinterest:hover {
    background-color: #ea2522;
}

.social-links__item-icon {
    font-size: 0;
    display: inline-block;
    background-image: url('../images/index_sprite.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.icon--twitter {
    background-position: -435px -97px;
}

.icon--facebook {
    background-position: -435px -57px;
}

.icon--pinterest {
    background-position: -475px -57px;
}

@media screen and (min-width: 768px) {

    .page-header {
        min-height: 400px;
        padding-top: 30px;
    }

    .main-nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: static;
        background-color: #4c5a6f;
        z-index: 1000;
        padding: 0;
        height: 95px;
        background: none;
    }

    .main-nav__logo {
        display: none;
    }

    .nav-button {
        display: none;
    }

    .nav-menu {
        width: 625px;
        height: 95px;
        transform: translate(0);
        position: static;
    }

    .nav-menu__container {
        width: 625px;
        height: 95px;
        display: flex;
        justify-content: space-between;
    }

    .nav-menu__item {
        width: auto;
        height: auto;
        background-color: transparent;
        padding: 0;
    }

    .nav-menu__item > a {
        padding: 0;
    }

    .nav-menu__item > a:hover {
        background: none;
    }

    .item--nav-logo {
        display: flex;
    }

    .nav-menu__item--logotype-container {
        width: 100px;
        height: 95px;
    }

    .nav-menu__item--point {
        position: relative;
    }

    .nav-menu__item--point::after {
        content: ".";
        position: absolute;
        color: #4d4959;
        right: -35px;
        bottom: 33%;
    }

    .shop__items-container {
        width: 33.33%;
    }

    .feedback input[type="email"] {
        width: 400px;
    }

    .feedback input[type="submit"] {
        width: 125px;
    }

    .page_footer {
        justify-content: flex-start;
        align-items: center;
        min-height: 250px;
    }

    .contacts {
        display: flex;
        width: 40%;
        justify-content: center;
        text-align: left;
    }

    .social-links {
        display: flex;
        min-width: 60%;
        justify-content: flex-start;
    }

}

@media screen and (min-width: 960px) {

    .page-header {
        min-height: 800px;
    }

    .promo-block--top {
        padding: 120px 260px;
    }

    .promo-block__container-large {
        width: 66.66%;
        min-height: 600px;
        position: relative;
        z-index: 1;
    }

    .container-small--third {
        position: relative;
    }

    .promo-block--advantages {
        flex-direction: row;
    }

    .promo-block__container-large::after,
    .container-small--third::after {
        content: "";
        display: block;
        z-index: 2;
        width: 50%;
        height: 50%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url('../images/index_sprite.png');
        background-repeat: no-repeat;
    }

    .container-large--first::after {
        width: 113px;
        height: 118px;
        background-position: -82px -71px;
    }

    .container-large--second::after {
        width: 177px;
        height: 152px;
        background-position: -238px -10px;
    }

    .container-small--third::after {
        width: 208px;
        height: 67px;
        background-position: -215px -182px;
    }

    .promo-block__container-small {
        width: 33.33%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
    }

    .promo-block__container-content {
        min-height: 400px;
        padding: 70px 60px;
    }

    .promo-block--advantages .promo-block__text::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: #d7d7d7;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -30px;
    }

}